@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}


.main {
    width: 80%;
    margin: auto auto;
    display: flex;
    
    align-items: start;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
    /* background-color: orange; */
    justify-content: center;
    width: 50%;
}

.main-image {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin-bottom: 1vw;
    overflow: hidden;
}


.main-image img{
    /* background-color: blue; */
    width: 400px;
    height: 400px;
    height: auto;
    user-select: none;
    object-fit: cover;
}

.thumbnail-container-main{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;

}

.thumbnail-container{
    display: flex;
    overflow-x: scroll;
    /* overflow-x: scroll; */
}

.thumbnail-container::-webkit-scrollbar { 
    display: none;  
} 

.thumbnail { 
    user-select: none;
    cursor: pointer;
    width: calc(100% / 4);
    min-height: 85px;
    object-fit: cover;
}

.thumbnail:hover {
    opacity: 0.8;
}


.right-container {
    padding: 4vw;
    width: 50%;
    /* background-color: palevioletred; */
    position: relative;
}

.container {
    margin-bottom: 1vw;
}

.vendor {
    font-size: 0.7vw;
}

.title {
    font-size: 2vw;
}

.price {
    height: 2.5vw;
    display: flex;
    align-items: center;
    gap: 0.8vw
}

.original-price {
    text-decoration: line-through;
    color: #2c2c2c;
}

.discounted-price {
    font-size: 1.4vw;
    color: #2c2c2c;
    font-weight: 500;
}

.variants {
    display: flex;
    height: 5vw;
    flex-direction: column;
    gap: 0.6vw;
}

.variant-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.btn {
    font-size: 1vw;
    user-select: none;
    cursor: pointer;
    padding: 0.3vw 1.2vw;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #fff;
}

.btn:hover {
    color: #fff;
    background-color: #000;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}

.quantity {
    height: 5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw
}

.quantity-text, .variants-text {
    font-size: 0.8vw;
    font-weight: 600;
}

.quantity-button {
    padding: 0.6vw;
    width: 8vw;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.sold-out {
    opacity: 0.7;
    font-size: 1.5vw;
    display: none;
}

.add, .remove {
    user-select: none;
    cursor: default;
}

.count {
    user-select: none;
}

.buy-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.add-to-cart, .buy-now{
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.6vw;
}

.add-to-cart {
    background-color: #fff;
    border: 1px solid #000;
}

.buy-now {
    color: #fff;
    background-color: #000;
}

.sale-tag {
    font-size: 0.8vw;
    padding: 0.4vw 0.8vw;
    color: #fff;
    border-radius: 50px;
    background-color: rgb(72, 43, 201);
    display: hidden;
}

@media (max-width:650px) {
    .main-image{
        width: 80%
    }
    .main {
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
    }
    .left-container {
        width: 100%;
    }
    .right-container {
        width: 100%;
        height: auto;
    }
    
    .title {
        font-size: 5vw;
    }
    .vendor {
        font-size: 2.5vw;
    }
    .discounted-price {
        font-size: 3vw;
    }
    .original-price {
        font-size: 3vw;
    }

    .variants-text {
        font-size: 2.5vw;
    }

    .container{
        margin-bottom: 3vw;
    }

    .btn {
        padding: 1vw 2vw;
        font-size: 3vw;
    }

    .options-container {
        gap: 3.5vw;
    }

    .option {
        gap: 1.5vw
    }

    .quantity-text{
        font-size: 2.5vw;
    }

    .quantity-button {
        padding: 1vw;
        width: 20vw;
    }

    .buy-buttons {
        gap: 2vw;
        margin-top: 10vw;
    }

    .add-to-cart, .buy-now{
        padding: 3vw;
        font-size: 3vw;
    }

    .sold-out{
        font-size: 3vw;
    }

    .sale-tag {
        font-size: 2.5vw;
    }

    .variant-buttons {
        gap: 1.7vw;
    }
}

.cart {
    height: 100vh;
    overflow-y: scroll;
    display: none;
    width: 350px;
    position: absolute;
    background-color: #cdcdcd;
    z-index: 1;
    right: 0;
    padding: 2vw;
    position: fixed;
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart-text {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.item-name, .item-price, .item-variant, .cart-addon-suggestion .addon-product-card .addon-price, .addon-title {
    font-size: 0.7vw;
}

.item-container, .cart-addon-suggestion .addon-product-card {
    background-color: #fff;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: 1vw;
}

.item {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 0.6vw;
    
}

.item-details {
    /* background-color: yellow; */
}

.item-image {
    /* background-color: palegreen; */
}

.item-image img, .cart-addon-suggestion .addon-product-card img{
    width: 50px;
}

.item-options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.5vw;
    gap: 0.6vw;
}

.delete-cart-item i, .edit-cart-item i {
    color: #000;
}
.cart-item-quantity {
    border: 1px solid #000;
    padding: 0.2vw 0.4vw;
    width: fit-content;
    display: flex;
    gap: 1vw;
    font-size: 0.9vw;
}

.item-general-details {
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: start;
    gap: 0.6vw;
}

.cart-add, .cart-remove {
    cursor: pointer;
    user-select: none;
}

.option-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-count {
    user-select: none;
}

.cart-head {
    display: flex;
    justify-content: space-between;
}

.close-cart{
    user-select: none;
}

.clear-cart {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    padding: 0.5vw 1vw;
    width: fit-content;
    font-size: 0.8vw;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.2s;
}

.clear-cart:hover {
   background-color: #fff;
   color: #000;
}

.cart-footer {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-text {
    font-size: 0.6vw;
    font-weight: 500;
}

.row-0 {
    display: flex;
    gap: 1vw;
}

.product-addons-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.addon-product-card {
    border-radius: 0;
    display: flex;
    border: 1px solid #000000;
    padding: 0.5vw;
}

.addon-left-container {
    display: flex;
    align-items: center;
}

.addon-left-container img{
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}
.addon-right-container {
    width: 100%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}


.addon-right-container select,.addon-right-container input{
    border-radius: 0;
    border: 1px solid #000;
    padding: 0.5vw;
    width: 100%;
    height: 35px;
}

input:focus{
    outline: none;
}

.addon-product-collection {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.overlay {
    height: 100vh;
    width: calc(100% - 350px);
    background-color: #0a0a0a89;
    z-index: 1;
    position: fixed;
    
    display: none;
}

.selected {
    background-color: #000;
    color: #fff;
}

.cart-addon-suggestion {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


.cart-addon-suggestion .addon-product-card{
    border: none;
}

.cart-addon-suggestion .addon-product-card select {
    height: 2vw;
    width: 50%
}

.cart select {
    border-radius: 0;
    width: 8vw;
    height: 2vw;
    font-size: 1vw;
}