@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.main {
  /* padding: 0vw 3vw; */
  width: 100%;
  background-color: #efeae3;
  position: relative;
}

.section {
  margin-bottom: 50px;
  /* background-color: green; */
}

.page-1 {
  /* padding: 0vw 3vw; */
  height: 100vh;
  width: 100%;
  /* width: 96%; */
  /* margin-left: auto;
  margin-right: auto; */
  /* background-color: red; */
  border-bottom: 1px solid #c1bcb6;
}
.nav-bar {
  padding: 0rem 2rem;
  /* height: 100px; */
  display: flex;
  align-items: center;
  padding-top: 2.5vw;
  justify-content: space-between;
  /* background-color: pink; */
}

.menu-item {
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.animation-circle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #000;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  /* border-radius: 50%; */
  transform: translateY(125%) scale(1.3);
  transition: all 0.2s linear;
  z-index: -9;
}

.menu-item:hover .animation-circle {
  transform: translateY(0%) scale(1.3);
}

.menu-item:hover .menu-item-text {
  color: #fff;
}

.nav-right .menu {
  display: flex;
  gap: 1vw;
}

.nav-right .menu-item {
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  border: 1px solid #c1bcb6;
  border-radius: 50px;
  padding: 0.6vw 1.4vw;
}

.page-1 .hero-container {
  height: calc(100vh - 120px);
  /* background-color: yellow; */

  position: relative;
}

.hero-container-content {
  /* margin-bottom: 500px; */
  position: absolute;
  bottom: 0;
  height: 80%;
  /* background-color: green; */
  padding: 0vw 2rem;
  padding-bottom: 4vw;
  /* width: 100%; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.sub-hero-content {
  font-size: 1.8vw;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 700;
  width: 60%;
}

.hero-content {
  font-size: 11vw;
  font-weight: 700;
  letter-spacing: -7px;
  line-height: 8vw;
}

.page-2 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0vw 3vw;

  /* padding-top: 3.5vw; */
}

.video-element {
  /* height: 90%; */
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.video-element video {
  /* height: 100%; */
  width: 100%;
  /* background-size: cover; */
}

.marquee-component {
  /* height: 200px; */
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow-x: hidden;
}

@keyframes marquee {
  /* from {
    transform: translateX(100%);
  } */
  to {
    transform: translateX(-100%);
  }
}

.marquee-container {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee-wrapper .marquee-text {
  font-size: 8vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
}

.marquee-wrapper .marquee-circle {
  padding: 1vw;
}

.marquee-wrapper i {
  font-size: 4vw;
  color: red;
}

.featured-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c1bcb6;
  padding: 2rem 0rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  /* transition: all 0.2s ease-in-out; */
}

.color-bg {
  position: absolute;
  transform: translateY(-101%);
  background-color: orangered;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.featured-project-right {
  padding-left: 2vw;
  z-index: 9;
}

.featured-project-right h1 {
  font-size: 2.7vw;
  letter-spacing: -2px;
}

.featured-project-left {
  text-align: right;
  padding-right: 2rem;
  z-index: 9;
}

.featured-project-left p {
  text-transform: uppercase;
  line-height: 10px;
}

.featured-project-left span {
  font-size: 0.9vw;
  color: #c1bcb6;
}

.page-3 {
  position: relative;
}

.project-video-container {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  z-index: -99;
  border-radius: 20px;
  height: 30vw;
  width: 24vw;
  overflow: hidden;
  /* background-color: red; */
  /* opacity: 0; */
  /* display: none; */
  transition: all 0.2s ease;
}

.project-video-container video {
  height: 100%;
  width: auto;
  transition: all 0.2s ease;
  clip-path: inset(1px 1px);
}

.page-5 {
  position: relative;
}

.swiper {
  width: 100%;
  height: 300px;
}

.slider {
  cursor: pointer;
  width: 85%;
  margin: 0px auto;
}

.clients-slide {
  border-left: 1px solid #c1bcb6;
  padding: 2rem;
}

.clients-slide .description {
  margin-top: 20px;
  font-size: 1vw;
}

.cursor-big-round {
  position: fixed;
  /* z-index: 99; */
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.1s ease;
}

.cursor-big-round .arrows i {
  color: #fff;
  font-size: 1.2vw;
}

.page-4 {
  height: 100vh;
}

.services-container {
  width: 90%;
  height: 100%;
  background-color: #000;
  margin: 0px auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.services {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.service-image {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  border-radius: 30px;
  overflow: hidden;
}

.service-image img {
  width: auto;
  height: 100%;
}

.services-option {
  cursor: pointer;
  width: 50%;
  margin-bottom: 30px;
}

.services-option h1 {
  font-size: 4.3vw;
  line-height: 70px;
}

.services-option .option {
  color: #504a45;
  border-left: 3px solid #504a45;
  padding-left: 20px;
}

.services-content {
  color: #efeae3;
  width: 50%;
  height: 200px;
  letter-spacing: -1px;
  font-size: 1vw;
  /* transition: all 0.5s ease; */
}

.active-service {
  border-left: 3px solid red !important;
}

.active-service h1 {
  color: #fff;
}

.heading.featured {
  padding-left: 2vw;
}

.heading {
  height: 100px;
  display: flex;
  align-items: center;
  /* padding-left: 2vw; */
  gap: 5px;
}

.heading i {
  color: red;
  font-size: 0.8vw;
}

.heading p {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.footer {
  padding: 2vw;
  background-color: #000;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

.footer li {
  list-style: none;
}

.mobile-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-open {
  position: absolute;
  height: 21rem;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-top: 1px solid #504a45;
  transform: translateY(-150%);
  transition: all 0.8s ease;
}

.open {
  transform: translateY(0%);
}

.mobile-nav-menu-open {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 2rem;
}

.mobile-nav-menu-option h1 {
  font-size: 3.7rem;
  line-height: 4.1rem;
  font-weight: 600;
}

.mobile-nav img {
  width: 110px;
  height: auto;
}

.mobile-nav-menu-item {
  border: 1px solid #c1bcb6;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-menu-item i {
  font-size: 1.4rem;
  margin-right: 2px;
}

/* screen-size<750 */

@media screen and (max-width: 750px) {
  .nav-bar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    height: 6rem;
    padding: 1.5rem 1.5rem 0.3rem 1.5rem;
  }

  .page-1 {
    height: 40rem;
    width: 100%;
    /* padding: 1.5rem; */
    border-bottom: 1px solid #000;
    /* background-color: green; */
  }

  .section {
    margin: 0;
  }

  .page-1 .hero-container {
    height: calc(100% - 6rem);
    padding: 0rem 1.5rem;
  }

  .hero-container-content {
    flex-direction: column-reverse;
    position: static;
    padding: 0;
    height: 100%;
  }

  .hero-content {
    padding: 0;
    height: 50%;
    width: 100%;
    text-align: right;
    font-size: 4rem;
    letter-spacing: -0.2rem;
    line-height: 3.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .sub-content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }

  .sub-hero-content {
    font-size: 1.3rem;
    font-weight: 600;
    width: 80%;
    line-height: 1.4rem;
  }

  .page-2 {
    min-height: 35rem;
    padding: 2rem;
    /* background-color: red; */
  }

  .video-element {
    height: 32rem;
    background-color: #fff;
  }

  .video-element video {
    height: 100%;
    width: auto;
    background-color: #fff;
  }

  .marquee-wrapper .marquee-text {
    font-size: 4rem;
  }

  .marquee-wrapper .marquee-circle i {
    font-size: 2.5rem;
  }

  .page-3 {
    display: none;
  }

  .page-4 {
    margin: 2rem 0rem;
    height: 60rem;
  }

  .services-container {
    flex-direction: column;
  }

  .services {
    width: 100%;
  }

  .services-option {
    width: 100%;
    padding: 3rem 3rem 0rem 3rem;
    -webkit-tap-highlight-color: transparent;
  }

  .services-option .option h1 {
    font-size: 3rem;
  }

  .services-content {
    width: 100%;
    padding: 0rem 3rem 10rem 3rem;
  }

  .services-content p {
    font-size: 0.9rem;
  }

  .service-image {
    width: 100%;
  }

  .service-image img {
    width: 100%;
    height: 100%;
  }

  .clients-slide .description p {
    font-size: 0.8rem;
  }

  .footer {
    padding: 2rem;
    margin-top: 3rem;
  }

  .footer li {
    font-size: 0.7rem;
  }
}
